<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Gym Website</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gym Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Us</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Page Content -->
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">About Our Gym</h1>
    <p class="lead">We are dedicated to helping you achieve your fitness goals!</p>
    <hr class="my-4">
    <p>Our gym offers a variety of fitness classes, state-of-the-art equipment, and personalized training programs to help you get in shape and stay healthy.</p>
    <a class="btn btn-primary btn-lg" href="https://www.google.com/localservices/prolist?g2lbs=AIQllVwICLRcoh-4AXwlXkYU1IgJX-5dmU_GWdtHxM5CCvCNFSRvZ7thh0fbnGu3pftAs8rM2Hey1m6878GZGhqAC_Pw8Nd8O07C8-OD0SKbVoSDuIAeTQ7f0b_ineUwm2Jn_q4RCbiA&hl=en-IN&gl=in&cs=1&ssta=1&q=gym&oq=gym&slp=MgA6HENoTUk2dXZEay0yVGhRTVZ5NnRtQWgyZzFnWjlSAggCYAB6rwFDZ05uZVcxSXN0SEw4T2VWZ0lBSVdnOFFBQmdBSWdObmVXMHFCQWdERUFDU0FRTm5lVzJhQVNORGFGcEVVMVZvVGsxSE9XNVRNRlpLVVRCR2JsTlZUbXhpTVRrMlRWWmtia1ZCUmFvQk5CQUJLZ2NpQTJkNWJTZ0FNaDRRQVNJYTFXY01Pc3U0bGtvV0phMEtZMlR6NU8zV3VCamhVN1BlU1Y4eUJ4QUNJZ05uZVcwkgGzAgoML2cvMXB0XzE1djVsCg0vZy8xMWI2Z2xiZ3l0Cg0vZy8xMXBkdndoYnR2Cg0vZy8xMWc4eGRreTk2Cg0vZy8xMWcyeG41dDI5Cg0vZy8xMWtwZDd4dG01Cg0vZy8xMXIyamcydGcyCg0vZy8xMXA1cmtjX3d2Cg0vZy8xMWdsMHlyX2tfCg0vZy8xMWY4anQ3ZnB3Cg0vZy8xMWgyaG41bWtyCgwvZy8xeWZqcjJ2NjIKDS9nLzExZnhiNTdzNHgKDS9nLzExcms4d3c0eHgKDS9nLzExZnBqNzZkM2QKDS9nLzExZ3kxbGR6dHAKDC9nLzEyNHluNnN3eQoML2cvMTJobGd5czd4CgwvZy8xMTl3bHo4emwKDS9nLzExZm50NG0weWQSBBICCAESBAoCCAE%3D&src=2&spp=CgwvZy8xcHRfMTV2NWw6nAFXZzhRQUJnQUlnTm5lVzBxQkFnREVBQ1NBUU5uZVcyYUFTTkRhRnBFVTFWb1RrMUhPVzVUTUZaS1VUQkdibE5WVG14aU1UazJUVlprYmtWQlJhb0JOQkFCS2djaUEyZDViU2dBTWg0UUFTSWExV2NNT3N1NGxrb1dKYTBLWTJUejVPM1d1QmpoVTdQZVNWOHlCeEFDSWdObmVXMD0%3D&serdesk=1&lrlstt=1711522237841&ved=2ahUKEwiL8bqT7ZOFAxUm4TgGHY09AdcQvS56BAgXEAE&scp=CghnY2lkOmd5bRJJEhIJbU60yXAWrjsR4E9-UejD3_giG0JlbmdhbHVydSwgS2FybmF0YWthIDU2MDA3MCoUDQa5sQcVB3I5Lh0QArYHJQ_TPS4wARoDZ3ltIgNneW0qA0d5bQ%3D%3D" role="button">our loaction</a>
  </div>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Important Notice:</strong> Due to COVID-19, our gym hours and services may be affected. Please check our <a href="#">COVID-19 Updates</a> page for the latest information.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Our Mission
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          We strive to provide a welcoming and supportive environment for individuals of all fitness levels to achieve their health and wellness goals.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Our Team
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Our team of experienced trainers and instructors is committed to helping you reach your fitness goals through personalized training and expert guidance.
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
