<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Membership Plans - Gym Website</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  style
    include ../static/deco.css 

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gym Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
    </div>
    </nav>
  
<!-- Page Content -->
<div class="container mt-5">
  <h1 class="mb-4 text-center">Membership Plans</h1>
  
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-img-top" src="./i4.png"  alt="Membership Plan 1">
        <div class="card-body">
          <h5 class="card-title">3-Month Plan</h5>
          <p class="card-text">Access to gym facilities for 3 months</p>
          <p class="card-text">$99</p>
          <a href="#" class="btn btn-primary btn-block">Sign Up</a>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img src="C:\Users\Asus\OneDrive\Documents\webdev\practice\i2.png" class="card-img-top" alt="Membership Plan 2">
        <div class="card-body">
          <h5 class="card-title">6-Month Plan</h5>
          <p class="card-text">Access to gym facilities for 6 months</p>
          <p class="card-text">$179</p>
          <a href="#" class="btn btn-primary btn-block">Sign Up</a>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4   col-md-6">
      <div class="card">
        <img src="C:\Users\Asus\OneDrive\Documents\webdev\practice\views\i3.png" class="card-img-top" alt="Membership Plan 3">
        <div class="card-body">
          <h5 class="card-title">12-Month Plan</h5>
          <p class="card-text">Access to gym facilities for 12 months</p>
          <p class="card-text">$299</p>
          <a href="#" class="btn btn-primary btn-block">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
